*{
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: Normal;
}



/* CARROSSEL */

.carrossel{
    width: 100%;
    max-height: 670px;
    overflow: hidden;
    margin-bottom: 30px;
}
.carrossel .fotos{
    width: 500%;
    animation-name: animacao; /*nome da animação */
    animation-duration: 11s; /*tempo de duração da animação*/
    animation-iteration-count: infinite; /*numero de vezes que a animação deve repetir, ou seja, nesse caso, infinitamente*/
}

.carrossel .fotos img{
    width: 19.9%;
    max-height: 670px;
}

/* roteiro da transição. De acordo com o tempo que foi estabelecido: 12segundos*/
@keyframes animacao{
    0% {margin-left: 0;}
    20% {margin-left:0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: -400%;}
}

/* SEÇÃO PRINCIPAL DA MAIN */
#servicos{
    text-align: center;
}
#servicos h1{
    font-size: 30px;
    margin-bottom: 15px;
}
#linha1-itens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 25px;
}
.container img {
    min-width: 20px;
    min-height: 20px;
}
.container p{
    margin-left: -50px;
}

#separacao{
    margin: auto;
    width:  90%;
    height: 0.5px;
    background-color: #8B8B8B;
    margin-bottom: 50px; 
}

#texto-sobre-pousada{
    width: 80%;
    margin: auto;
}
#texto-sobre-pousada p{
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
}

#localizacao-gps{
    text-align: center;
    margin-bottom: 80px;
}
#localizacao-gps p{
    width: 88%;
    text-align: right;
    font-style: italic;
    font-size: 14px;
}